{
  "plugins": ["prettier-plugin-solidity"],
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "overrides": [
    {
      "files": ["*.ts", "*.mts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "tabWidth": 4,
        "singleQuote": false,
        "printWidth": 120,
        "bracketSpacing": false
      }
    }
  ]
}
